@charset "UTF-8";
/**
 *
 * カラー定義用CSS(ユーザー側)
 * 各装飾で定義するカラーを管理するCSS
 *
 * @author yanahiro / Media Magic Co.,Ltd.
 * @since 2016.12.22
 *
**/
/**
 *
 * カラー定義用CSS(ユーザー側)
 * 各装飾で定義するカラーを管理するCSS
 *
 * @author yanahiro / Media Magic Co.,Ltd.
 * @since 2016.12.22
 *
**/
/* 汎用色：白色 */
/* 承認色 */
/* 未承認色 */
/* 否認色 */
/*
 *
 * メインカラー
 * （ユーザー毎に色を変更する場合はこの部分の箇所を変更する）
 *
 */
/* ヘッダーカラー */
/* グラデーション用カラー(現在未使用) */
/* nav-link カラー */
/*
 *
 * アクセントカラー
 *
 */
/*
 *
 * 可変にする箇所の色を指定
 *
 */
/* ヘッダーの背景色 */
/* フッターの背景色 */
/* 一覧のボーダー色 */
/* タイトルカラー */
/**
 *
 * bulma.css 上書き用CSS
 * Baseのbulma.css上で定義されている装飾内容を
 * 変更したい定義を再記載（上書きする）
 *
 * @author yanahiro / Media Magic Co.,Ltd.
 * @since 2016.12.22
 *
**/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

/* フォーカス、 アクティブ状態の装飾のカスタマイズ */
.input:active,
.textarea:active,
.input:focus,
.textarea:focus,
.input.is-active,
.is-active.textarea {
  border-color: #4ec48f;
  outline: none;
}

/* ボタンクラスを定義していないaタグ */
.content a:not(.button) {
  border-bottom: 1px solid #69707a;
}

.content a:not(.button):visited {
  color: inherit;
}

.content a:not(.button):hover {
  color: #4ec48f;
  border-bottom-color: #4ec48f;
}

/* ボタンに関するカスタマイズ */
.button:hover,
.button:focus,
.button.is-active {
  color: #fff;
}

.textarea {
  font-size: 16px;
  line-height: 1.5em;
  height: auto;
}

.input {
  font-size: 16px;
}

.select {
  line-height: 1;
  display: inline-block;
  height: 40px;
  position: relative;
  vertical-align: top;
}

.select select {
  position: relative;
  border-color: #4ec48f;
  //font-size: 16px;
  font-size: 1em;
  height: 40px;
  padding: 0 30px 0 10px;
  width: 100%;
}

.select option {
  font-size: 16px;
}

.select:after {
  /* bulma 設定をいったん初期化 */
  border: inherit;
  border-right: inherit;
  border-top: inherit;
  content: inherit;
  display: inherit;
  height: inherit;
  pointer-events: none;
  position: inherit;
  -webkit-transform: inherit;
  -ms-transform: inherit;
  transform: inherit;
  width: inherit;
  margin-top: inherit;
  right: inherit;
  top: inherit;
  /* 再設定 */
  position: absolute;
  content: "\f078";
  font-family: FontAwesome;
  font-size: 14px;
  top: 12px;
  left: 93%;
  color: #4ec48f;
}

.table thead th {
  color: inherit;
}

.table tr:hover {
  background-color: #f5f7fa;
  color: inherit;
}

.button {
  font-size: 18px;
  line-height: 18px;
  margin: 0 auto;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 40px !important;
  cursor: pointer;
  font-size: 14px;
  line-height: 35px;
  font-weight: bold;
}

input[type="checkbox"] + label:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 36px;
  height: 36px;
  margin-top: -18px;
  background: #fff;
  border: 1px solid #ccc;
}

input[type="checkbox"]:checked + label:after {
  position: absolute;
  content: url("/img/icon-check-32.png");
  top: 3px;
  left: 5px;
  width: 35px;
  height: 15px;
  /*
  border-left: 5px solid #3498db;
  border-bottom: 5px solid #3498db;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
*/
}

.title {
  color: inherit;
  font-size: inherit;
  line-height: 1;
}

.nav-item a:hover, a.nav-item:hover {
  color: inherit;
}

.checkbox:hover {
  color: #4ec48f;
}

.select select:active,
.select select:focus,
.select select:hover,
.select select.is-active {
  border-color: #4ec48f;
  outline: none;
}

.nav-left {
  overflow: inherit;
  overflow-x: inherit;
}

/**
 *
 * アプリケーション個別CSS
 * アプリケーションのデザインを行う上での装飾定義
 *
 * @author yanahiro / Media Magic Co.,Ltd.
 * @since 2017.02.18
 *
**/
body * {
  padding: 0;
  font-size: 16px;
}

/*
 * Header関連定義
 */
header {
  font-size: 18px;
}

header.header {
  background-color: #4ec48f;
  color: #fff;
  font-size: 14px;
  height: 50px;
}

header.header a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

header.header .nav {
  -webkit-box-shadow: none;
          box-shadow: none;
  /*padding: 10px 10px 0px;*/
  min-height: 46px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header .nav-left {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

header.header .main-mark {
  background-color: #4ec48f;
  border-bottom: 3px solid #4ec48f;
  border-radius: 50%;
  position: absolute;
  margin-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

header.header .nav-right {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header .nav-item {
  display: inline;
}

.logo-block {
  background-color: #000;
  min-height: 50px;
  padding: 15px 20px 0 5px;
}

.logo-block img {
  width: 90px;
  height: auto;
}

/*
 * content部分に関する定義
 */
.conv-button-block {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.conv-button {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.conv-button img {
  display: block;
  margin: 0 auto;
  position: relative;
}

.main-visual {
  background-image: url("/img/main-visual.jpg");
  background-position: center center;
  background-repeat: no-repeat !important;
  background-size: cover;
  min-height: 700px;
  height: -webkit-calc(100vh - 180px);
  height: calc(100vh - 180px);
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.main-visual .top-keyword {
  display: block;
  text-align: center;
  padding-top: 300px;
}

.main-visual .top-keyword p {
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  text-shadow: #333 1px 3px 0px, #333 -1px 1px 0px, #333 1px -1px 0px, #333 -1px -1px 0px;
}

.main-visual .top-keyword span {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.main-visual .conv-button {
  top: 0;
}

.search-visual {
  background-image: url("/img/search-visual.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 46.45833%;
  /* calc(100*ImageHeight/ImageWidth)% */
  background-size: 100% auto;
}

.count-area {
  background-color: #4ec48f;
  color: #fff;
  font-size: 1.5em;
  min-height: 130px;
  height: 130px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
  padding-right: 7%;
}

.count-area .count-title-block {
  padding-right: 30px;
}

.count-area .main-title {
  font-size: 1.8em;
}

.count-area .main-title-english {
  font-size: 1.1em;
}

.count-area .round-count-block .ronund-count {
  font-size: 1.8em;
  margin-left: 5px;
}

.pagination-area {
  background-color: #4ec48f;
  color: #fff;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
  padding-left: 18%;
}

.pagination-area .current-block {
  padding-right: 30px;
}

.pagination-area .current-page {
  font-size: 1em;
}

.pagination-area .pagination-block {
  display: inline-block;
}

.pagination-area .pagination-block ul {
  display: inline-block;
  font-size: 0;
}

.pagination-area .pagination-block ul li {
  background-color: #fff;
  display: inline-block;
  padding: 7px 15px;
  margin: 0 auto;
  border: 1px solid #b3b3b3;
}

.pagination-area .pagination-block ul li a {
  color: #b3b3b3;
}

.pagination-area .pagination-block ul li.active {
  background-color: #b3b3b3;
}

.pagination-area .pagination-block ul li.active a {
  color: #fff;
}

.pagination-area .pagination-block ul li:first-child {
  border-radius: 7px 0 0 7px;
}

.pagination-area .pagination-block ul li:last-child {
  border-radius: 0 7px 7px 0;
}

.pagination-area .round-count-block .ronund-count {
  font-size: 1em;
  margin-left: 5px;
}

.staff-area {
  padding: 10px 0;
  background-color: #4ec48f;
  color: #fff;
  font-size: 1.2em;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}

.other-area {
  background-color: #808080;
  font-size: 12px;
  position: relative;
}

.other-area ul:nth-of-type(1) {
  font-size: 0;
  width: 100%;
}

.other-area ul:nth-of-type(1) li {
  display: inline-block;
  width: 33%;
  text-align: center;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 8px 0;
}

.other-area ul:nth-of-type(1) li a {
  color: #fff;
  font-size: .8em;
}

.other-area ul:nth-of-type(1) li:last-child {
  width: 34%;
  border-right: 0px;
}

.other-area ul:nth-of-type(2) {
  font-size: 0;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.other-area ul:nth-of-type(2) li {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 8px 30px;
}

.other-area ul:nth-of-type(2) li a {
  color: #fff;
  font-size: .8em;
}

.other-area ul:nth-of-type(2) li:before {
  color: #d0f0e1;
  content: "▶";
  font-size: .9em;
  position: absolute;
  top: 28%;
  left: 10px;
}

.sub-visual {
  background-image: url("/img/sub-visual.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 47.91667%;
  /* calc(100*ImageHeight/ImageWidth)% */
  background-size: 100% auto;
}

.sub-visual-description {
  background-image: url("/img/sub_visual_description.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 47.91667%;
  /* calc(100*ImageHeight/ImageWidth)% */
  background-size: 100% auto;
}

.container {
  padding: 20px 0;
}

.bg-green {
  background-color: #d0f0e1;
}

.bg-pink {
  background-color: #ec96b6 !important;
}

.ptb10 {
  padding: 10px 0;
}

.mrl5 {
  margin: 0 5px;
}

.card-link .card-image:hover img {
  opacity: 0.7;
}

.card-image img {
  object-fit: cover;
}

.slick-slider .card .user-attr {
  padding: 5px;
}

.slick-slider .card .user-attr p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: "";
}

.slick-slider .card .user-attr .age {
  color: #22b573;
  font-size: 1.2em;
  text-align: center;
}

.slick-slider .card .user-attr .job {
  color: #22b573;
  font-size: 1.2em;
  text-align: center;
}

.slick-slider .card .user-attr .score {
  color: #22b573;
  font-size: 1.2em;
  text-align: center;
}

.slick-slider-detail .card .basic-info {
  padding: 5px;
}

.slick-slider-detail .card .basic-info.male {
  background-color: #006837;
}

.slick-slider-detail .card .basic-info.female {
  background-color: #d4195d;
}

.slick-slider-detail .card .basic-info .name, .slick-slider-detail .card .basic-info .sex, .slick-slider-detail .card .basic-info .age, .slick-slider-detail .card .basic-info .current-pref {
  color: #fff;
  display: inline-block;
  font-size: .9em;
}

.slick-slider-detail .slick-dots {
  margin-bottom: -100px;
}

.search-title {
  color: #006837;
  position: relative;
  border: 1px solid #22b573;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

.icon.left {
  position: absolute;
  left: 5px;
  line-height: 35px;
}

.icon.right {
  position: absolute;
  right: 5px;
  line-height: 40px;
}

.title-content {
  font-size: 2.2em;
}

.title-content b {
  font-size: 1.6em;
  padding: 0 5px;
}

.strong-color-red {
  color: #d4195d;
}

.strong-color-green {
  color: #006837;
}

.reason-logo {
  margin-bottom: -17px;
}

.reserve-description,
.select-description {
  position: relative;
}

.reserve-description b,
.select-description b {
  font-weight: bold;
  font-size: 1.4em;
}

.reserve-description .float-inner,
.select-description .float-inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: auto;
  padding: 40px 0;
}

.reserve-description .float-inner span,
.select-description .float-inner span {
  font-size: .8em;
}

.reserve-description dl,
.select-description dl {
  width: 33%;
  text-align: center;
  float: left;
}

.reserve-description dl dt,
.select-description dl dt {
  font-size: 178%;
  line-height: 1.3;
  font-weight: 700;
  padding-bottom: 20px;
}

.reserve-description dl dd,
.select-description dl dd {
  position: relative;
}

.reserve-description dl dd img,
.select-description dl dd img {
  width: 250px;
}

.reserve-baloon {
  position: relative;
  background-color: #4ec48f;
  border-radius: 10px;
  color: #fff;
  margin: 0 15%;
  padding: 10px 0;
  font-size: .8em;
}

.reserve-baloon:before {
  position: absolute;
  left: 50%;
  top: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  border-width: 10px;
  border-top-color: #4ec48f;
  margin-left: -10px;
}

.select-description .description {
  font-size: 100%;
  font-weight: normal;
  padding: 0 20px;
  min-height: 100px;
}

.section-description {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.search-area {
  padding-bottom: 20px;
}

.search-area .search-title-content {
  position: relative;
  background-color: #7ad1ab;
  border-radius: 7px;
  padding: 10px 0;
  color: #666666;
  font-size: 2.2em;
  margin: 0 auto;
  text-align: center;
  width: 95%;
  max-width: 700px;
}

.search-area .search-title-content:before {
  position: absolute;
  content: "";
  background: url("/img/icon-man.png");
  background-repeat: no-repeat !important;
  background-size: contain !important;
  display: inline-block;
  vertical-align: middle;
  top: 25%;
  left: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.search-area .search-title-content:after {
  position: absolute;
  content: "";
  background: url("/img/icon-woman.png");
  background-repeat: no-repeat !important;
  background-size: contain !important;
  display: inline-block;
  vertical-align: middle;
  top: 25%;
  right: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.search-area .search-title-content b {
  font-size: 1.6em;
}

.search-area .box {
  width: 600px;
  margin: 0 auto;
}

.search-area .select,
.search-area .checkbox-block {
  min-width: 49%;
}

.search-area .checkbox-block {
  min-width: 100%;
}

.search-area .select:after {
  right: -57px;
}

.search-area .button {
  width: 100%;
}

.search-area .button .icon.right {
  position: absolute;
  right: 5px;
  line-height: 40px;
}

.search-area .search-clear-block {
  position: relative;
  text-align: right;
}

.search-area .search-clear-block a {
  color: #69707a;
}

.search-area .search-clear-block a .img-clear {
  display: inline-block;
  margin-bottom: 5px;
}

.back-btn {
  margin-top: 10px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.back-btn + .back-btn-name {
  padding-top: 7px;
  height: 30px;
  line-height: 30px;
  color: #69707a;
  display: inline-block;
  vertical-align: middle;
}

.back-btn + .back-btn-name:hover {
  color: #006837;
}

.detail-title {
  padding: 30px;
}

.detail-title p {
  width: 50%;
  padding: 30px 0;
  margin: 0 auto;
  color: #006837;
  position: relative;
  border: 1px solid #22b573;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  line-height: 0;
  font-weight: bold;
  font-size: 1.5em;
}

.detail-title p .icon-left {
  position: absolute;
  left: 5px;
  top: 30%;
}

.search-list-area .box,
.entry-disp-area .box {
  position: relative;
  margin-bottom: 20px;
  margin: 5px 20px;
}

.search-list-area .title-block,
.entry-disp-area .title-block {
  background-color: #ececec;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px;
  width: 100%;
}

.search-list-area .title-block .name,
.entry-disp-area .title-block .name {
  padding-left: 30px;
}

.search-list-area .title-block .name .male,
.entry-disp-area .title-block .name .male {
  color: #006837;
}

.search-list-area .title-block .name .female,
.entry-disp-area .title-block .name .female {
  color: #d4195d;
}

.search-list-area .title-block .status,
.entry-disp-area .title-block .status {
  padding-left: 30px;
}

.search-list-area .pair-block,
.entry-disp-area .pair-block {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.search-list-area .pair-block .pair-cross,
.entry-disp-area .pair-block .pair-cross {
  display: inline-block;
  margin-top: 20%;
}

.search-list-area .card,
.entry-disp-area .card {
  width: 45%;
  display: inline-block;
}

.search-list-area .card .user-attr,
.entry-disp-area .card .user-attr {
  padding: 5px 20px;
}

.search-list-area .card .user-attr p,
.entry-disp-area .card .user-attr p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: "";
}

.search-list-area .card .user-attr.male,
.entry-disp-area .card .user-attr.male {
  background-color: #d0ede0;
  color: #006837;
}

.search-list-area .card .user-attr.female,
.entry-disp-area .card .user-attr.female {
  background-color: #f3cddb;
  color: #d4195d;
}

.search-list-area .card .user-attr .name,
.entry-disp-area .card .user-attr .name {
  display: inline-block;
  width: 100%;
}

.search-list-area .card .user-attr .age,
.entry-disp-area .card .user-attr .age {
  display: inline-block;
  width: 48%;
}

.search-list-area .card .user-attr .current-pref,
.entry-disp-area .card .user-attr .current-pref {
  display: inline-block;
  width: 48%;
  text-align: center;
}

.entry-disp-area {
  background-color: #d0f0e1;
  padding: 10px 0;
}

.entry-disp-area .box {
  max-width: 800px;
  margin: 0 auto;
}

.profile-pic-area .profile-title-block {
  padding: 10px 3px;
}

.profile-pic-area .basic-info-block {
  padding: 10px 20px;
  margin-top: -40px;
}

.profile-pic-area .basic-info-block.male {
  background-color: #d0ede0;
  color: #006837;
}

.profile-pic-area .basic-info-block.female {
  background-color: #f3cddb;
  color: #d4195d;
}

.profile-pic-area .basic-info-block .basic-info {
  padding: 5px 20px;
  margin-left: 25%;
  width: 50%;
}

.profile-pic-area .basic-info-block .basic-info li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: "";
}

.profile-pic-area .basic-info-block .basic-info .name {
  display: inline-block;
  font-size: 1.3em;
  width: 100%;
  text-align: center;
  padding-right: 5px;
}

.profile-pic-area .basic-info-block .basic-info .age {
  display: inline-block;
  font-size: 1.3em;
  width: 48%;
  text-align: right;
  padding-right: 5px;
}

.profile-pic-area .basic-info-block .basic-info .current-pref {
  display: inline-block;
  font-size: 1.3em;
  width: 48%;
  text-align: left;
  padding-left: 5px;
}

.profile-pic-area .basic-info-block .status {
  line-height: 75px;
}

.profile-pic-area .profile-title {
  background-color: #d0f0e1;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 0;
}

.profile-area {
  padding: 0 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.profile-area .profile-main-block textarea {
  font-size: 1em;
}

.profile-area .profile-title {
  display: block;
  font-size: 1.5em;
}

.profile-area .profile-title.male {
  color: #006837;
}

.profile-area .profile-title.female {
  color: #d4195d;
}

.profile-area .summary {
  font-size: 1.2em;
  padding: 20px;
  background-color: #d0f0e1;
  border-radius: 7px;
  margin-top: 20px;
}

.profile-area .table.male {
  color: #006837;
}

.profile-area .table.female {
  color: #d4195d;
}

.profile-area .table tbody {
  border-top: 5px solid #22b273;
  border-bottom: 5px solid #22b273;
}

.profile-area .table th {
  font-size: 1.2em;
  padding: 20px 0;
  padding-left: 10%;
}

.profile-area .table td {
  font-size: 1.2em;
  padding: 20px 0;
}

.profile-area .table td .card {
  position: relative;
  display: block;
}

.profile-area .table td .card .user-attr {
  padding: 5px 20px;
  display: block;
  white-space: normal;
}

.profile-area .table td .card .user-attr p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: "";
}

.profile-area .table td .card .user-attr.male {
  background-color: #d0ede0;
  color: #006837;
}

.profile-area .table td .card .user-attr.female {
  background-color: #f3cddb;
  color: #d4195d;
}

.profile-area .table td .card .user-attr .name {
  display: inline-block;
  width: 100%;
}

.profile-area .table td .card .user-attr .age {
  display: inline-block;
  width: 48%;
}

.profile-area .table td .card .user-attr .current-pref {
  display: inline-block;
  width: 48%;
  text-align: center;
}

.profile-area .input-table {
  position: relative;
}

.profile-area .input-table input, .profile-area .input-table select {
  font-size: 1.2em;
}

.profile-area .input-table option {
  font-size: 1em;
}

.profile-area .input-table .select {
  height: 32px;
}

.profile-area .input-table .select select {
  border: 1px solid #d3d6db;
  padding: 0 25px 0 3px;
  height: 32px;
}

.profile-area .input-table .select:after {
  color: #d3d6db;
  font-size: 10px;
  left: 75%;
  top: 10px;
}

.profile-area .input-table .select.year:after {
  left: 75%;
}

.profile-area .input-table .select.month:after {
  left: 65%;
}

.profile-area .input-table .select.day:after {
  left: 65%;
}

.profile-area .input-table.table td, .profile-area .input-table.table th {
  border: 0 solid #d3d6db;
  padding: 10px 5px;
}

.profile-area .input-table.table th {
  width: 30%;
  z-index: 10;
  vertical-align: middle;
}

.profile-area .input-table.table td {
  padding-left: 15px;
  position: relative;
  line-height: 32px;
  height: 32px;
}

.profile-area .input-table.table td .control label {
  font-size: 1.2em;
  line-height: 32px;
}

.profile-area .input-table .required:before {
  position: absolute;
  content: '*';
  font-size: 1.5em;
  color: #c42c30;
  top: 33%;
  left: 0;
}

.profile-area .input-table .ui-datepicker-trigger {
  display: inline-block;
  vertical-align: middle;
}

.profile-area input[type="checkbox"] + label {
  font-weight: normal;
}

.slick-prev {
  left: 20px;
  z-index: 1;
}

.slick-next {
  right: 20px;
}

.slick-prev:before, .slick-next:before {
  color: #fff;
}

.checkbox-block {
  display: inline-block;
  text-align: center;
}

.sub-container {
  padding: 10px 0;
}

.button span {
  font-size: 1.2em;
}

.button.conv-button {
  height: 80px !important;
  line-height: 80px !important;
}

.button.conv-button span {
  font-size: 2em;
}

.button.conv-button .icon.right {
  position: absolute;
  right: 5px;
  line-height: 80px;
}

.brcb-area {
  padding: 10px 20px;
}

.brcb {
  padding-left: 10px;
  overflow: hidden;
  list-style-type: none;
}

.brcb li {
  display: inline-block;
}

.brcb li a {
  color: #69707a;
}

.brcb li a:hover {
  text-decoration: underline;
}

.brcb li:after {
  content: ">";
  padding: 0 8px;
}

.brcb li:last-child:after {
  content: none;
}

.brcb li.strong a {
  color: #006837;
}

.brcb li.strong:after {
  color: #006837;
}

.other-content .title {
  background-color: #fff;
  display: block;
  color: #1B4432;
  font-size: 1.8em;
  font-weight: bold;
  padding: 30px 0;
  text-align: center;
}

.other-content .sub-title {
  color: #1B4432;
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 2%;
}

.other-content .content-header {
  max-width: 1000px;
  margin: 0 auto;
}

.other-content .content-body {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.other-content .content-body * {
  font-size: 1em;
}

.other-content .bold {
  color: #1B4432;
  font-weight: bold;
  margin-bottom: 5px;
}

.other-content hr {
  margin: 10px 0;
  padding-top: 5px;
}

.other-content ol {
  padding-left: 20px;
}

.other-content ol li {
  padding-bottom: 5px;
}

.other-content ul li {
  padding-bottom: 5px;
}

.other-content .table {
  table-layout: fixed;
}

.other-content .table th {
  width: 30%;
  background-color: #d0f0e1;
}

.other-content .table td {
  white-space: normal;
}

.card {
  border-bottom: 2px solid #d8d8d8;
}

.none {
  display: none;
}

.error-msg-area {
  color: #c42c30;
  text-align: center;
  font-weight: bold;
}

.error {
  background-color: #fbb;
}

.error-msg {
  color: #c42c30;
  font-size: .8em;
  display: block;
}

.confirm-msg-area {
  color: #006837;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.entry-complete-area {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .main-visual .top-keyword {
    padding-top: 300px;
  }
  .main-visual .top-keyword p {
    font-size: 2.3em;
  }
  .main-visual .top-keyword span {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 800px) {
  .main-visual .top-keyword {
    padding-top: 300px;
  }
  .main-visual .top-keyword p {
    font-size: 1.8em;
  }
  .main-visual .top-keyword span {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }
  body * {
    padding: 0;
    font-size: 16px;
  }
  .conv-button {
    display: block;
    margin: 0 auto;
  }
  .conv-button img {
    width: 75%;
    height: auto;
    margin-left: 12.5%;
  }
  .main-visual {
    min-height: 300px;
    height: 300px;
  }
  .main-visual .top-keyword {
    padding-top: 100px;
  }
  .main-visual .top-keyword p {
    font-size: 1.2em;
  }
  .main-visual .top-keyword span {
    font-size: 1.3em;
  }
  .main-visual .conv-button {
    top: 0;
  }
  .count-area {
    padding: 10px 0;
    font-size: 1.2em;
    min-height: 70px;
    height: 70px;
    padding-right: 15px;
  }
  .count-area .count-title-block {
    padding-right: 0px;
  }
  .count-area .main-title {
    font-size: 1em;
  }
  .count-area .main-title-english {
    font-size: .9em;
  }
  .count-area .round-count-block .ronund-count {
    font-size: 1.3em;
    margin-left: 5px;
  }
  .pagination-area .current-block {
    margin-bottom: 10px;
  }
  .pagination-area .img-golf-cup-search:before {
    display: none;
  }
  .pagination-area .pagination-block {
    margin-left: -30px;
  }
  .pagination-area .pagination-block ul li:nth-child(5) {
    border-radius: 0 7px 7px 0;
  }
  .pagination-area .pagination-block ul li:nth-child(n+6) {
    display: none;
  }
  .pagination-area .round-count-block .ronund-count {
    font-size: 1em;
    margin-left: 5px;
  }
  .reserve-description .float-inner,
  .select-description .float-inner {
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
  }
  .reserve-description .float-inner span,
  .select-description .float-inner span {
    font-size: .65em;
  }
  .reserve-description dl,
  .select-description dl {
    width: auto;
    width: initial;
    float: none;
    float: initial;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    min-height: 170px;
    height: 170px;
  }
  .reserve-description dl dt,
  .select-description dl dt {
    display: inline-block;
    width: 50%;
    font-size: 143%;
    line-height: 1.3;
    font-weight: 700;
    padding-bottom: 20px;
    position: absolute;
    min-height: 170px;
    height: 170px;
    padding-top: 40px;
  }
  .reserve-description dl dd,
  .select-description dl dd {
    width: 170px;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .reserve-description dl dd img,
  .select-description dl dd img {
    width: 165px;
  }
  .button span {
    font-size: 1em;
  }
  .button.conv-button {
    height: 50px !important;
    line-height: 50px !important;
  }
  .button.conv-button span {
    font-size: 1.1em;
  }
  .button.conv-button .icon.right {
    position: absolute;
    right: 5px;
    line-height: 50px;
  }
  .search-area .search-title-content {
    font-size: 1.2em;
    width: 90%;
  }
  .search-area .search-title-content:before {
    top: 30%;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .search-area .search-title-content:after {
    top: 30%;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .search-area .search-title-content b {
    font-size: 1.6em;
  }
  .search-area .box {
    width: 90%;
    margin: 0 auto;
  }
  .select-description .description {
    font-size: 100%;
    font-weight: normal;
    padding: 40px 10px;
    min-height: 70px;
  }
  .select:after {
    left: 85%;
  }
  .logo-block {
    padding: 15px 20px 0 5px;
  }
  .search-list-area .box,
  .entry-disp-area .box {
    margin: 5px 10px 20px;
    padding: 10px;
  }
  .search-list-area .name,
  .entry-disp-area .name {
    font-size: .8em;
  }
  .search-list-area .status,
  .entry-disp-area .status {
    padding-left: 0 !important;
    font-size: .8em;
  }
  .search-list-area .pair-block,
  .entry-disp-area .pair-block {
    margin: 40px auto;
    margin-bottom: 10px;
  }
  .search-list-area .card,
  .entry-disp-area .card {
    width: 44%;
  }
  .search-list-area .card .user-attr,
  .entry-disp-area .card .user-attr {
    padding: 5px 5px;
  }
  .search-list-area .card .user-attr .name,
  .entry-disp-area .card .user-attr .name {
    display: inline-block;
    font-size: .8em;
    width: 100%;
  }
  .search-list-area .card .user-attr .age,
  .entry-disp-area .card .user-attr .age {
    display: inline-block;
    font-size: .8em;
    width: 48%;
  }
  .search-list-area .card .user-attr .current-pref,
  .entry-disp-area .card .user-attr .current-pref {
    display: inline-block;
    font-size: .8em;
    width: 48%;
    text-align: center;
  }
  .search-list-area .button,
  .entry-disp-area .button {
    width: 100%;
  }
  .title-content {
    font-size: 1.2em;
  }
  .title-content b {
    font-size: 1.6em;
    padding: 0 5px;
  }
  .reason-logo {
    margin-bottom: -10px;
    width: 40%;
  }
  .detail-title {
    padding: 5px 30px;
  }
  .detail-title p {
    width: 90%;
    padding: 20px 0;
  }
  .detail-title p .icon-left {
    top: 25%;
  }
  .profile-pic-area .basic-info-block .basic-info {
    padding: 5px 20px;
    margin-left: 0;
    margin: 0 auto;
    width: 100%;
  }
  .profile-pic-area .basic-info-block .status {
    display: none !important;
  }
  .profile-area .profile-title {
    font-size: 1em;
  }
  .profile-area .table th {
    width: 40%;
    vertical-align: middle;
    font-size: .8em;
    padding-left: 3%;
  }
  .profile-area .table td {
    font-size: 1.1em;
  }
  .profile-area .table td .card {
    width: 90%;
  }
  .slick-slider .card .user-attr .age {
    font-size: .8em;
  }
  .slick-slider .card .user-attr .job {
    font-size: .8em;
  }
  .slick-slider .card .user-attr .score {
    font-size: .8em;
  }
  .slick-slider-detail .slick-dots {
    margin-bottom: -90px;
  }
  .other-content .title {
    padding: 10px 0;
  }
  .profile-area .profile-main-block textarea {
    font-size: .8em;
  }
  .profile-area .input-table input, .profile-area .input-table select {
    font-size: .8em;
  }
  .profile-area .input-table option {
    font-size: .9em;
  }
  .profile-area .input-table .select select {
    padding: 0 18px 0 3px;
  }
  .profile-area .input-table.table td .control label {
    font-size: .8em;
  }
  .profile-area .input-table .required:before {
    top: 30%;
  }
  .profile-area input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding: 0 3px 0 30px !important;
    cursor: pointer;
    font-size: .8em;
    line-height: 32px;
    font-weight: normal;
  }
  .profile-area input[type="checkbox"] + label:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background: #fff;
    border: 1px solid #ccc;
  }
  .profile-area input[type="checkbox"]:checked + label:after {
    position: absolute;
    content: " ";
    top: 3px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: url("/img/icon-check-32.png");
    background-size: contain;
    vertical-align: middle;
  }
  .entry-complete-area {
    text-align: left;
  }
  .other-area ul:nth-of-type(2) li {
    padding: 8px 20px;
  }
  .other-area ul:nth-of-type(2) li:before {
    top: 28%;
    left: 5px;
  }
}

@media screen and (max-width: 320px) {
  /* 479px以下用（スマートフォン用）の記述 */
  body {
    overflow: hidden;
  }
  body * {
    padding: 0;
    font-size: 14px;
  }
  .main-visual .top-keyword {
    padding-top: 140px;
  }
  .main-visual .top-keyword p {
    font-size: 1.2em;
  }
  .main-visual .top-keyword span {
    font-size: 1.3em;
  }
  .main-visual .conv-button {
    top: 0;
  }
  .count-area {
    padding-top: 15px;
    padding-left: 10px;
  }
  .count-area .count-title-block {
    padding-right: 0px;
  }
  .count-area .main-title {
    font-size: .9em;
  }
  .count-area .main-title-english {
    font-size: .8em;
  }
  .count-area .round-count-block .ronund-count {
    font-size: 1.2em;
    margin-left: 5px;
  }
  .search-area .search-title-content {
    font-size: 1em;
    width: 90%;
  }
  .search-area .search-title-content b {
    font-size: 1.6em;
  }
  .search-area .box {
    width: 90%;
    margin: 0 auto;
  }
  .reserve-description .float-inner,
  .select-description .float-inner {
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
  }
  .reserve-description .float-inner span,
  .select-description .float-inner span {
    font-size: .65em;
  }
  .reserve-description dl,
  .select-description dl {
    width: auto;
    width: initial;
    float: none;
    float: initial;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    min-height: 130px;
    height: 130px;
  }
  .reserve-description dl dt,
  .select-description dl dt {
    display: inline-block;
    width: 55%;
    font-size: 1.2em;
    line-height: 1.3;
    font-weight: 700;
    padding-bottom: 20px;
    position: absolute;
    min-height: 130px;
    height: 130px;
    padding-top: 20px;
  }
  .reserve-description dl dd,
  .select-description dl dd {
    width: 130px;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .reserve-description dl dd img,
  .select-description dl dd img {
    width: 120px;
  }
  .select-description .description {
    padding: 10px;
  }
  .slick-slider .card .user-attr .age {
    font-size: .7em;
  }
  .slick-slider .card .user-attr .job {
    font-size: .7em;
  }
  .slick-slider .card .user-attr .score {
    font-size: .7em;
  }
  .reason-logo {
    margin-bottom: -5px;
    width: 40%;
  }
  .reason-title-text {
    font-size: 1.2em !important;
  }
  .icon {
    height: 30px;
  }
}

/*
 * Footer関連定義
 */
footer.footer {
  background-color: #808080;
  color: #fff;
  font-size: 12px;
  padding: 2px 20px;
  min-height: 25px;
  max-height: 25px;
  line-height: 21px;
}

footer.footer span {
  font-size: 1.2em;
}

/* ページ先頭への遷移用 */
.pagetop,
.pagetop-detail {
  display: none;
  position: fixed;
  bottom: 65px;
  right: 15px;
  z-index: 1001;
}

.pagetop a,
.pagetop-detail a {
  border-radius: 5px;
  display: block;
  background-color: #e6e6e6;
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding: 8px 9px;
  height: 40px;
  width: 40px;
}

.reserve-btn {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

.reserve-btn a {
  font-size: 1.1em;
}

/*
 * ボタン関連定義
 */
a.button, button.button, input[type=submit].button {
  background-color: #4ec48f;
  color: #fff;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  height: 50px;
  width: 100%;
  line-height: 50px;
  width: 75%;
  max-width: 560px;
  border-radius: 7px;
}

a.button:hover, button.button:hover, input[type=submit].button:hover {
  background-color: #79e6b5;
}

a.button.is-large, button.button.is-large, input[type=submit].button.is-large {
  height: 80px;
  line-height: 80px;
  font-size: 26px;
  letter-spacing: .1em;
}

.table thead tr:hover {
  background-color: inherit;
}

.table thead tr th {
  font-weight: normal;
  text-align: center;
  padding: 10px 5px;
}

.table tbody tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table.list {
  width: 100%;
  border-top: 2px solid #4ec48f;
  border-bottom: 2px solid #4ec48f;
  table-layout: fixed;
}

.table.list td, .table.list th {
  border: 1px solid #4ec48f;
  border-width: 0 0 1px;
  padding: 8px 10px;
  vertical-align: middle;
}

.table.list thead {
  background: -webkit-gradient(linear, left top, left bottom, from(#0070bd), to(#0052a3));
  background: -webkit-linear-gradient(#0070bd, #0052a3);
  background: linear-gradient(#0070bd, #0052a3);
}

.table.list thead tr th {
  color: #fff;
}

.table.list tbody tr td {
  padding: 16px 5px;
}

/**
 *
 * アプリケーション個別CSS
 * アプリケーションの利用者側のデザインを行う上での装飾定義
 *
 * @author yanahiro / Media Magic Co.,Ltd.
 * @since 2016.12.22
 *
**/
.main-content {
  /* 手書きサイン記載エリア */
}

.main-content .table {
  /* 会議詳細の開催情報エリアの設定 */
}

.main-content .table.holding-info thead {
  background-color: #e6e6e6;
  /* baseのテーブルがグラデーションの為、imageの設定を除去 */
  background-image: none;
}

.main-content .table.holding-info thead tr th {
  border: 2px solid #fff;
  color: #8c8c8c !important;
}

.main-content .table.holding-info thead tr th .icon.is-small {
  line-height: 21px;
}

.main-content .table.holding-info thead tr th .header {
  display: block;
  position: relative;
  font-weight: bold;
}

.main-content .table.holding-info thead tr th .header:before, .main-content .table.holding-info thead tr th .header:after {
  position: absolute;
  left: 50%;
  top: 34px;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  border-width: 13px;
}

.main-content .table.holding-info thead tr th .header:before {
  border-top-color: #fff;
  margin-left: -14px;
}

.main-content .table.holding-info thead tr th .header:after {
  border-top-color: #e6e6e6;
  margin: -2px 0 0 -14px;
}

.main-content .table.holding-info tbody td {
  background-color: #f2f2f2;
  color: #484848;
  font-size: 16px;
  border: 2px solid #fff;
  padding-top: 15px;
  vertical-align: middle;
  text-align: center;
}

.main-content .agenda-sec .agenda-title {
  background-color: #4ec48f;
  color: #fff;
  font-size: 20px;
  padding: 0 15px;
}

.main-content .agenda-sec .agenda-title .agenda-number {
  padding-right: 15px;
  background-color: transparent;
  border-right: 1px solid #fff;
  display: inline-block;
  line-height: 50px;
}

.main-content .agenda-sec .agenda-title .agenda-name {
  padding-left: 5px;
}

.main-content .agenda-sec .agenda-detail {
  padding: 20px 40px;
  line-height: 1.8em;
  border: 1px solid #e2e2e2;
  border-top: none;
  margin-bottom: 20px;
  /* 承認／非承認選択エリア */
}

.main-content .agenda-sec .agenda-detail .detail {
  color: #272727;
  min-height: 100px;
}

.main-content .agenda-sec .agenda-detail .attach {
  margin-bottom: 10px;
}

.main-content .agenda-sec .agenda-detail .attach-box {
  border: 1px solid #666;
  display: inline-table;
  height: 60px;
  padding-left: 45px;
  vertical-align: middle;
  background-color: #ddd;
  padding-right: 5px;
}

.main-content .agenda-sec .agenda-detail .attach-box .pdf-file {
  display: table-cell;
  vertical-align: middle;
}

.main-content .agenda-sec .agenda-detail .attach-box .pdf-file:before {
  position: absolute;
  margin-left: -50px;
  margin-top: -12px;
  padding-right: 5px;
  content: url("/img/icon_pdf.png");
}

.main-content .agenda-sec .agenda-detail .result {
  background-color: #fae3d0;
  margin-bottom: 10px;
  padding-top: 3px;
  color: #000;
  min-height: 225px;
}

.main-content .agenda-sec .agenda-detail .result .result-title {
  background-color: #e87413;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  margin-left: 5px;
  margin-top: 2px;
  width: 20%;
}

.main-content .agenda-sec .agenda-detail .result .result-detail {
  padding: 5px 15px;
}

.main-content .agenda-sec .agenda-detail .comment {
  background-color: #d0e2ef;
  margin-bottom: 20px;
  padding-top: 3px;
  color: #000;
  min-height: 225px;
}

.main-content .agenda-sec .agenda-detail .comment .comment-title {
  background-color: #4ec48f;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  margin-left: 5px;
  margin-top: 2px;
  width: 20%;
}

.main-content .agenda-sec .agenda-detail .comment .comment-detail {
  padding: 5px 5px;
}

.main-content .agenda-sec .agenda-detail .status .approval:before {
  position: absolute;
  left: 50%;
  top: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  border-width: 10px;
  border-top-color: #1a78b7;
  margin-left: -10px;
}

.main-content .agenda-sec .agenda-detail .status .unapproved:before {
  position: absolute;
  left: 50%;
  top: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  border-width: 10px;
  border-top-color: #a0a0a0;
  margin-left: -10px;
}

.main-content .agenda-sec .agenda-detail .status .denial:before {
  position: absolute;
  left: 50%;
  top: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  border-width: 10px;
  border-top-color: #d84545;
  margin-left: -10px;
}

.main-content .agenda-sec .agenda-detail .status-select-area {
  margin: 10px 0;
}

.main-content .agenda-sec .agenda-detail .status-select-area a, .main-content .agenda-sec .agenda-detail .status-select-area button, .main-content .agenda-sec .agenda-detail .status-select-area .button {
  width: 45%;
  height: 70px;
  line-height: 64px;
  background-image: none;
}

.main-content .sign-area canvas {
  min-height: 80px;
  height: 200px;
  width: 100%;
  border: 5px dashed #e87413;
  margin-bottom: 20px;
}

.main-content .sign-area .button {
  width: 20%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  margin-bottom: 30px;
}

/**
 *
 * jquery datepicker カスタムクラス
 * jquery datepicker(カレンダー)の表示イメージ
 * 変更用CSS定義
 *
 * @author yanahiro / Media Magic Co.,Ltd.
 * @since 2016.12.22
 *
**/
#ui-datepicker-div {
  z-index: 1000 !important;
}

.ui-datepicker * {
  font-family: helvetica, arial, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif !important;
}

/**
 *
 * アイコン用CSS定義
 * 各種アイコン用の画像を管理するCSS
 *
 * @author yanahiro / Media Magic Co.,Ltd.
 * @since 2016.12.22
 *
**/
i {
  /*
   * iタグ共通設定
   * ci = custom icon
   */
  /* 検索ボタン用 */
}

i.ci:before {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  content: '';
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

i.img-search:before {
  background: url("/img/icon/ic-search-wh.png");
  width: 25px;
  height: 25px;
  line-height: 25px;
}

i.img-clear:before {
  background: url("/img/icon/ic-clear.png");
  width: 25px;
  height: 25px;
  line-height: 25px;
}

i.img-next:before {
  background: url("/img/icon/icon-next-whitegrn.png");
  width: 25px;
  height: 25px;
  line-height: 25px;
}

i.img-golf-cup:before {
  background: url("/img/icon/ic-golf-cup.png");
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding-right: 20px;
  margin-bottom: 10px;
}

i.img-golf-cup-search:before {
  background: url("/img/icon/ic-golf-cup.png");
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding-right: 20px;
  margin-bottom: 10px;
}

i.img-search-left-gray:before {
  background: url("/img/icon/icon-left-gray.png");
  width: 25px;
  height: 25px;
  line-height: 25px;
}

i.img-search-right-gray:before {
  background: url("/img/icon/icon-right-gray.png");
  width: 25px;
  height: 25px;
  line-height: 25px;
}

i.img-ball:before {
  background: url("/img/icon/ic-ball.png");
  width: 25px;
  height: 25px;
  line-height: 25px;
}

i.img-flag-male:before {
  background: url("/img/icon/icon-flag-grn.png");
  width: 25px;
  height: 25px;
  line-height: 25px;
}

i.img-flag-female:before {
  background: url("/img/icon/icon-flag-pnk.png");
  width: 25px;
  height: 25px;
  line-height: 25px;
}

i.img-ball-search:before {
  background: url("/img/icon/ic-ball.png");
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-bottom: 25px;
}

i.img-cross:before {
  background: url("/img/icon/icon-cross.png");
  width: 25px;
  height: 25px;
  line-height: 25px;
}

i.img-golf-player:before {
  background: url("/img/icon/ic-golf-player.png");
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  i.img-golf-cup:before {
    background: url("/img/icon/ic-golf-cup.png");
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 320px) {
  i.img-ball:before {
    background: url("/img/icon/ic-ball.png");
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
}

.icon-calendar {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  background: url("/img/icon/ic-calendar.png");
  width: 40px;
  height: 40px;
  line-height: 30px;
  background-color: #666;
  border: 5px solid #666;
  margin-left: -5px;
}

/*
 * input要素内に配置するアイコン
 */
input.input + i.ci:before {
  display: inline-block;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  width: 24px;
  color: #aeb1b5;
  pointer-events: none;
  position: absolute;
  top: 9px;
  left: 9px;
}

/*
 * アイコン用文字装飾
 */
.ic-char {
  //font-size: 14px;
  font-size: 0.8em;
  display: inline-block;
  line-height: 20px;
}

/**
 *
 * アイコン用CSS定義(ユーザー用)
 * 各種アイコン用の画像を管理するCSS
 *
 * @author yanahiro / Media Magic Co.,Ltd.
 * @since 2016.12.22
 *
**/
i.img-meeting {
  display: inline-block;
  vertical-align: middle;
}

i.img-meeting:before {
  background: url("/img/meeting-blue.png");
  width: 40px;
  height: 40px;
  line-height: 40px;
}

/**
 *
 * 汎用CSS
 * よく利用する装飾用CSS
 *
 * @author yanahiro
 * @since 2016.12.22
 *
**/
/*
 * padding上下用CSS(5px毎に作成)
 */
.mb0 {
  margin-bottom: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.pt85 {
  padding-top: 85px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.pt95 {
  padding-top: 95px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.pt100 {
  padding-top: 100px !important;
}

/*
 * margin右用CSS(5px毎に作成)
 */
.mr0 {
  margin-right: 0px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mr85 {
  margin-right: 85px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mr95 {
  margin-right: 95px !important;
}

.mr100 {
  margin-right: 100px !important;
}

/*
 * 幅指定CSS(5%単位で作成)
 */
.wid-per0 {
  width: 0% !important;
}

.wid-per5 {
  width: 5% !important;
}

.wid-per10 {
  width: 10% !important;
}

.wid-per15 {
  width: 15% !important;
}

.wid-per20 {
  width: 20% !important;
}

.wid-per25 {
  width: 25% !important;
}

.wid-per30 {
  width: 30% !important;
}

.wid-per35 {
  width: 35% !important;
}

.wid-per40 {
  width: 40% !important;
}

.wid-per45 {
  width: 45% !important;
}

.wid-per50 {
  width: 50% !important;
}

.wid-per55 {
  width: 55% !important;
}

.wid-per60 {
  width: 60% !important;
}

.wid-per65 {
  width: 65% !important;
}

.wid-per70 {
  width: 70% !important;
}

.wid-per75 {
  width: 75% !important;
}

.wid-per80 {
  width: 80% !important;
}

.wid-per85 {
  width: 85% !important;
}

.wid-per90 {
  width: 90% !important;
}

.wid-per95 {
  width: 95% !important;
}

.wid-per100 {
  width: 100% !important;
}

/*
 * display inline-block用
 */
.disp-ilb {
  display: inline-block;
}

/*
 * display inline-blockの上下中央寄せ用
 * bvc = block vertical center
 */
.bvc {
  display: inline-block !important;
  vertical-align: middle !important;
}

/*
 * menu設定
 */
#menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#menu li{
	display: inline;
	padding: 0;
	margin: 0;
}
#menu li a{
	display: block;
	border-left: 8px solid #474655;
	border-top: 1px solid #474655;
	border-right: 1px solid #474655;
	border-bottom: 1px solid #474655;
	background-color: #fff;
	padding: 3px 10px;
	text-decoration: none;
	color: #333;
	width: 150px;
	margin: 1px 0px;
	text-align: left;
	font-size: 14px;
}
#menu li a:hover{
	border-left: 8px solid #474655;
	border-top: 1px solid #474655;
	border-right: 1px solid #474655;
	border-bottom: 1px solid #474655;
	background-color: #d7efd7;
}
/*# sourceMappingURL=app.css.map */
